<div>
  <form>
     <h2>REGISTRAR VENTA </h2>

     <div class="form-grop">
       <label for="name">Id</label>
       <input type="text" class="form-control" name="txtname" id="txtname">
     </div>

     <div class="form-grop">
       <label for="name">Fecha de Compra</label>
       <input type="date"  class="form-control" name="txtlastName" id="txtname">
     </div>

    <div class="form-grop">
       <label for="name">Valor</label>
       <input type="number"  class="form-control" name="txtcorreo" id="txtname">
     </div>


   <button>Registrar</button>


 </form>
</div>


