
.nav-container{
  display: flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:  rgb(205, 199, 199);
  background: rgb(30, 45, 105);
  background: linear-gradient(103deg, rgb(30,45, 105) 61%, rgba(40,45,105) 100%);
  width: 100vw;
  height: 15vh;
  align-items: center;
  text-align:right;

}

img{
  width: 15vh;
  height: 10vh;
}



