
header{
  display: flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:  rgb(205, 199, 199);
  border-color: black;



}

img{
  width: 15vh;
  height: 10vh;
}



