*{
  display: flexbox;
  text-decoration:none;
  padding-left: 3vh;
  justify-content:flex-start;
  align-items: flex-start;

  color:black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
nav{
  display: flex;
  background: rgb(220, 220, 221);
  background: linear-gradient(103deg, rgb(220,220,221) 61%, rgba(220,220,221) 100%);

}




