* {
  margin:0px;
  padding:0px;

}

#header {
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin:auto;
  width: 100vw;
  height:10vh;
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(196, 193, 191);
}


ul, ol {
  list-style:none;
}

.nav > li {
  float:left;

}

.nav li a {
display: flex;
justify-content: space-between;

  color:black;
  text-decoration:none;
  padding:20px 50px;

}

.nav li a:hover {
  background-color:#767575;

}

.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;

}

.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:-180px;
  top:0px;
}



/*
.container-menu{
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  height: 10vh;
  width: 100vw;
  color:black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(220, 220, 221);
  background: linear-gradient(103deg, rgb(220,220,221) 61%, rgba(220,220,221) 100%);
  width: 100%;
  height: 100%;
}

*/



