*{
  display: flex;
 justify-content: center;
}
label{
  display: flex;
  justify-content: flex-start;
}

input{
  border-radius:10px;

}


button{
 align-content: center;
  background: rgb(4,67,190);
background: linear-gradient(90deg, rgba(4,67,190,1) 0%, rgba(23,136,214,0.891281512605042) 50%, rgba(84,177,182,1) 100%);
text-align: center;
margin-top: 25vh;

border-radius: 15vh;


}
form{
  display: flex;
  justify-content:center;
  width: 70vh;
  margin-left: 30%;
  background-color: azure;
  padding: 60px;
  border-radius: 10px ;
  font-family:'Times New Roman', Times, serif;
  flex-direction: column;
}

img{

  width: 70vh;
  height: 105vh;
  border-radius: 10px
}


