footer {
    position: fixed;
    bottom: 0;
    height: 30%;
    width: 100%;
    background: rgb(4,67,190);
    background: linear-gradient(90deg, rgba(4,67,190,1) 0%, rgba(23,136,214,0.891281512605042) 50%, rgba(84,177,182,1) 100%);
    border: 5vh;

  }








