<div class="continer">
  <h2>Lista de Vehiculos</h2>
    <div class="table">
        <table table class="table table-bordered table-sm">
          <thead class="tabla"><tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Sede</th>
            <th>Acciones</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listConcesionario">
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.direccion}}</td>
            <td>{{item.sede}}</td>
            <td><a class="btn btn-success" href="#">Editar</a>
            <a class="btn btn-danger" href="#">Eliminar</a></td>
          </tr>
        </tbody>


    </table>

</div>
</div>
