*{
  margin:0;
  padding: 20px;
  }

  thead{

    background: rgb(76,159,216);
    background: linear-gradient(90deg, rgba(76,159,216,0.891281512605042) 47%, rgba(69,184,191,0.9360994397759104) 100%);

  }


  .btn{
    padding: 5px;
    margin-left: 10px;
  }


table
{height: 20px;}
