

form{
  margin-left: 30rem;
  display: flex;
   border:solid 8px;
   flex-direction: column;
   padding:3rem ;
   font-size: 2.5vh;
   border-radius: 5vh;
   border-color: rgb(9, 9, 110);
   color:black;
   height: 50rem;
   width: 30rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  }

label{
  margin-top: 2rem;
}

input{

  border-radius:5rem;
  border:solid ;

}

.button{
  align-content: center;
  text-align: center;
  margin-top: 5rem;
  border-radius: 15vh;
  background-color: rgb(47, 47, 112);
  color: white;
  height: 8vh;
  width: 100%;

 }

