

<div>
  <form [formGroup]="concesionarioForm" (ngSubmit)="addConcesionario">
    <h2>REGISTRAR CONCESIONARIO</h2>
     <div class="form-grop">
       <label for="text">Nombre</label>
        <input type="text" class="form-control" name="txtdocument" id="txtname">
     </div>
      <div class="form-grop">
        <label for="text">Direccion</label>
        <input type="text" class="form-control" name="txtdireccion" id="txtname">
     </div>
     <div class="form-grop">
       <label for="text">Sede</label>
       <input type="text" class="form-control" name="txtfechaNac" id="txtname">
     </div>


    <div class="form-grop">
      <input type="submit" class="button"  value="Guardar">
    </div>

    <script src="sweetaler2.all.nin.js"></script>
 </form>
</div>


















