

<div>
  <form>
     <div class="form-grop">
       <label for="text">Nombre</label>
        <input type="number" class="form-control" name="txtdocument" id="txtname">
     </div>
      <div class="form-grop">
        <label for="text">Direccion</label>
        <input type="text" class="form-control" name="txtdireccion" id="txtname">
     </div>
     <div class="form-grop">
       <label for="text">Sede</label>
       <input type="text" class="form-control" name="txtfechaNac" id="txtname">
     </div>

     <button>Registrar</button>


 </form>
</div>


















