<div>
  <form [formGroup]="usuarioForm" (ngSubimt)="addUsuario()">
      <input type="hidden" name="id" id="txtid" formControlName="id">

      <div class="form-grop">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" name="txtname" id="txtname">
      </div>

      <div class="form-grop">
        <label for="name">Apellido</label>
        <input type="text"  class="form-control" name="txtlastName" id="txtname">
      </div>

      <div class="form-grop">
        <label for="name">Correo</label>
        <input type="text"  class="form-control" name="txtcorreo" id="txtname">
      </div>


      <div class="form-grop">
        <label for="text">Documento</label>
         <input type="number" class="form-control" name="txtdocument" id="txtname">
      </div>

      <div class="form-grop">
         <label for="text">Direccion</label>
         <input type="text" class="form-control" name="txtdireccion" id="txtname">
      </div>

      <div class="form-grop">
        <label for="text">fecha de nacimiento </label>
        <input type="date" class="form-control" name="txtfechaNac" id="txtname">
      </div>

      <div class="form-grop">
        <label for="text">edad</label>
        <input type="number" class="form-control" name="txtedad" id="txtname">
      </div>


      <div class="form-grop">
        <label for="text">Telefono</label>
        <input type="number" class="form-control" name="txttelefono" id="txtname">
      </div>

      <div class="form-grop">
        <label for="text">Fecha de Ingreso</label>
        <input type="date" class="form-control" name="txtfechaIngreso" id="txtname">
      </div>

      <button class="btn btn-success">Registrar</button>
  </form>
</div>
<div>
  <img src="./assets/imag1.jpg" alt="">
</div>

