<div>
  <form [formGroup]="usuarioForm" (ngSubimt)="addUsuario()">
      <input type="hidden" name="id" id="txtid" formControlName="id">

      <div class="form-grop">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" name="txtnombre" formControlName="nombre"id="txtname">
      </div>

      <div class="form-grop">
        <label for="name">Apellido</label>
        <input type="text"  class="form-control" name="txtapellido" formControlName="apellido" id="txtapellido">
      </div>

      <div class="form-grop">
        <label for="name">Correo</label>
        <input type="text"  class="form-control" name="txtcorreo" formControlName="correo" id="txtcorreo">
      </div>


      <div class="form-grop">
        <label for="name">Documento</label>
         <input type="number" class="form-control" name="txtdocumento" formControlName="documento" id="txtdocumento">
      </div>

      <div class="form-grop">
         <label for="name">Direccion</label>
         <input type="text" class="form-control" name="txtdireccion" formControlName="direccion" id="txtdireccion">
      </div>

      <div class="form-grop">
        <label for="name">Fecha Nacimiento</label>
        <input type="text" class="form-control" name="txtfechaNac" formControlName="fechaNac" id="txtfechaNac">
     </div>

     <div class="form-grop">
      <label for="name">Edad</label>
      <input type="number" class="form-control" name="txtedad"  formControlName="edad" id="txtedad">
   </div>

      <div class="form-grop">
        <label for="name">Telefono</label>
        <input type="number" class="form-control" name="txttelefono" id="txttelefono">
      </div>

      <div>
        <input type="submit" value="Guardar">
      </div>

  </form>
  <div class="img">
    <img src="./assets/imag2.jpg" >
  </div>
  </div>



