<div class="contenedor">
  <div class="left">
    <form [formGroup]="usuarioForm" (ngSubmit)="addUsuario()">
      <h1 id="registrar">REGISTRARSE</h1>

      <div class="form-grop">
        <label for="txtname">Nombre</label>
        <input type="text" class="form-control" name="txtnombre" formControlName="nombre" id="txtname" />
      </div>

      <div class="form-grop">
        <label for="txtapellido">Apellido</label>
        <input type="text" class="form-control" name="txtapellido" formControlName="apellido" id="txtapellido" />
      </div>

      <div class="form-grop">
        <label for="txtcorreo">Correo</label>
        <input type="text" class="form-control" name="txtcorreo" formControlName="correo" id="txtcorreo" />
      </div>

      <div class="form-grop">
        <label for="txtdocumento">Documento</label>
        <input type="number" class="form-control" name="txtdocumento" formControlName="documento" id="txtdocumento" />
      </div>

      <div class="form-grop">
        <label for="txtFechaNac">Fecha Nacimiento</label>
        <input type="text" class="form-control" name="txtFechaNac" formControlName="fechaNac" id="txtFechaNac" />
      </div>

      <div class="form-grop">
        <label for="txtEdad">Edad</label>
        <input type="number" class="form-control" name="txtEdad" formControlName="edad" id="txtEdad" />
      </div>

      <div class="form-grop">
        <label for="txtDireccion">Direccion</label>
        <input type="text" class="form-control" name="txtDireccion" formControlName="direccion" id="txtDireccion" />
      </div>

      <div class="form-grop">
        <label for="txtTelefono">Telefono</label>
        <input type="number" class="form-control" name="txtTelefono" formControlName="telefono" id="txtTelefono" />
      </div>



      <div class="form-grop">
        <input type="submit" class="button" value="Guardar">
      </div>
      <script src="sweetaler2.all.nin.js"></script>
    </form>
  </div>

  <div class="right">
    <img id="img" src="./assets/imag2.jpg" alt="" />
  </div>
</div>
