*{

  display: flex;
 justify-content: center;




}

form{
  flex-direction: column;
  margin-top: 10vh;
  font-family:'Times New Roman', Times, serif;
  display: block;

}

input{
  width: 50vh;
  border-radius: 30vh;

}

button{
  display: flex;
  justify-content: center;
  background: rgb(4,67,190);
  background: linear-gradient(90deg, rgba(4,67,190,1) 0%, rgba(23,136,214,0.891281512605042) 50%, rgba(84,177,182,1) 100%);
  border-radius: 5vh;
  margin-top: 10vh;
  height: 6vh;


}

img{
  margin-top: 10vh;
  width: 90vh;
  height: 100vh;
  border-radius: 30%;
  justify-content: flex-end;
}


