
<div class="contenedor">

  <form [formGroup]="automovilForm" (ngSubmit)="addAutomovil()">

      <h2>REGISTRAR AUTOMOVIL</h2>

    <div class="form-grop">
       <label for="txtmarca">Marca</label>
       <input type="text"  class="form-control" name="txtMarca" formControlName="marca" id="txtmarca">
     </div>

    <div class="form-grop">
       <label for="txtmodelo">Modelo</label>
       <input type="text"  class="form-control" name="txtmodelo" formControlName="modelo" id="txtmodelo">
     </div>

     <div class="form-grop">
       <label for="txtplaca">Placa</label>
        <input type="text" class="form-control" name="txtplaca" formControlName="placa"id="txtplaca">
     </div>

     <div class="form-grop">
        <label for="txtprecio">Precio</label>
        <input type="number" class="form-control" name="txtprecio" formControlName="precio" id="txtprecio">
     </div>


     <div class="form-grop">
       <label for="txtcolor">Color</label>
       <input type="text" class="form-control" name="txtcolor" formControlName="color" id="txtcolor">
     </div>


    <div class="form-grop">
      <input class="button" type="submit" class="button" value="GUARDAR">
    </div>

    <script src="sweetaler2.all.nin.js"></script>

</form>
</div>


