
<div>
  <form>

      <h2>REGISTRAR AUTOMOVIL</h2>

   

     <div class="form-grop">
       <label for="name">Marca</label>
       <input type="text"  class="form-control" name="txtlastName" id="txtname">
     </div>


     <div class="form-grop">
       <label for="name">Modelo</label>
       <input type="text"  class="form-control" name="txtcorreo" id="txtname">
     </div>




     <div class="form-grop">
       <label for="text">Placa</label>
        <input type="text" class="form-control" name="txtdocument" id="txtname">
     </div>


     <div class="form-grop">
        <label for="text">Precio</label>
        <input type="text" class="form-control" name="txtdireccion" id="txtname">
     </div>


     <div class="form-grop">
       <label for="text">Color</label>
       <input type="text" class="form-control" name="txtfechaNac" id="txtname">
     </div>




   <button>Registrar</button>


 </form>
</div>


