
body{
  padding: 0.5px;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  flex-direction: column;
  width: 12rem;
  background: rgb(17, 36, 105);
  background: (103deg, rgb(27, 60, 135) 61%, rgba(27,60,135) 100%);
  height: 80rem;


}


a{
  margin-top: 5vh;
  display: flex;
  text-decoration: none;
  color: rgb(214, 210, 210);


}
